/* CSS Document */
		ul.timeline
        {
			width:85%;
            list-style-type: none;
            background: url("../images/version_line.png") repeat-y scroll 120px 0 transparent;
            margin: 50px 0;
            padding: 0;
        }
        
        ul.timeline li
        {
            position: relative;
            margin-bottom: 20px;
			min-width:500px;
        }
        ul.timeline li .time
        {
            position: absolute;
            font-size: 20px;
            width: 90px;
            text-align: right;
            left: 0;
            top: 10px;
            color: #999;
        }
        ul.timeline li .version
        {
			color: #3594cb;
			font-size: 38px;
			left: -20px;
			line-height: 50px;
			overflow: hidden;
			position: absolute;
			text-align: right;
			top: 30px;
			width: 120px;
        }

        ul.timeline li .number
        {
            position: absolute;
            background: url("../images/version_dot.png") no-repeat scroll 0 0 transparent;
            width: 56px;
            height: 56px;
            left: 97px;
            line-height: 56px;
            text-align: center;
            color: #fff;
            font-size: 18px;
        }
        ul.timeline li.alt .number
        {
            background-image: url("../images/version_dot_alt.png");
        }
        ul.timeline li .content
        {
			min-height:70px;
			min-width:500px;
            margin-left: 180px;
            overflow: hidden;
        }
        ul.timeline li .content .divCount
        {
            background-color: #3594cb;
            padding: 20px;
            color: #fff;
            font-size: 13px;
            line-height: 20px;
        }

		ul.timeline li .content .divCount h2
		{
			text-align:center;
		}

        ul.timeline li.alt .content .divCount
        {
            background-color: #43B1F1;
        }
        
		 ul.timeline li .number .hand_img
		 {
			margin-top:3px;
			cursor:pointer;
			zoom:1;
			-webkit-transition: -webkit-transform 0.8s ease-in;
			-moz-transition:-moz-transform 0.8s ease-in;
			-o-transition:-o-transform 0.8s ease-in;
			transition:transform 0.8s ease-in;
		 }

        .divCount
        {
            border-radius: 10px;
            float: left;
            margin-left: 5px;
            margin-top:5px;
            border: 1px solid #999999;
            box-shadow: 0 0 5px #aaaaaa;
        }

		.Rotation
		{
			-moz-transform:rotate(90deg);      
			-webkit-transform:rotate(90deg);       
			-o-transform:rotate(90deg);       
			transform:rotate(90deg);       
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
		}

		.scrubber_list
		{
			position: fixed;
			opacity:0.75;
			top: 0;
			line-height: 26px;
			font-size: 16px;
			width:80px;
			margin-left:-30px;
		}

		.scrubber_list_month
		{
			line-height: 26px;
			font-size: 12px;
			margin-top: 26px;
		}

		.scrubber_list li
		{
			list-style-type:none;
			zoom:1;
			overflow:auto;
		}

		.scrubber_list li a
		{
			color: #A5A5A5;
			cursor:pointer;
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
			border-right: 2px solid rgba(200, 200, 200, 0.5);
			text-align: right;
			padding-right: 5px;
			float: right;
		}

		.scrubber_list li a:hover
		{
			color:#9dcfe1;
			text-decoration:none
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
			border-right: 2px solid #9dcfe1;
			text-align: right;
			padding-right: 5px;
			float: right;
		}

		/* »Øµ½¶¥²¿ */
		 #returnTop {
			_display:none;
			position:fixed;
			_position:absolute;
			z-index:999;
			right:15px;
			bottom:-200px;
			_bottom:auto;
			width:36px;
			height:65px;
			text-indent:-999px;
			overflow:hidden;
			background-image:url(../images/Top.png);
			_background-image:url(../images/Top.png);
			background-repeat:no-repeat;
			background-position:0 0;
			transition:bottom 0.9s;
			-webkit-transition:bottom 0.9s;
			-moz-transition:bottom 0.9s;
			-o-transition:bottom 0.9s;
		}
		#returnTop:hover {
			background-position:0 -65px;
		}